$globalBlue: #0093ff;

@mixin header($color, $size) {
	font-family: 'Cabin', 'Roboto', Arial, Helvetica, sans-serif;
	color: $color;
	font-size: $size;
	text-align: center;
	font-weight: 600;
}
@mixin para($fontSize, $lineHeight) {
	font-size: $fontSize;
	line-height: $lineHeight;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
.center-div {
	display: flex;
	justify-content: center;
	align-items: center;
}
h2 {
	@include header(#444, 2rem);
}

#top-fold {
	background: url(https://images.unsplash.com/photo-1527234639945-70d78416bd7d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=721783d6df00ea979608158fd776675e&auto=format&fit=crop&w=1500&q=70)
		no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	// position laptop in photo
	background-attachment: fixed;
	background-position: 50% 40%;

	width: 100%;
	height: 600px;
	position: relative;

	h1,
	span {
		@include header(white, 4rem);
		text-shadow: 0 2px 40px rgba(black, 1);
	}
	h2 {
		@include header(white, 2rem);
		opacity: 0.95;
		text-shadow: 0 2px 20px rgba(black, 1);
	}
	@media (max-width: 800px) {
		height: 350px;
		background-size: 220%;
		h1,
		span {
			font-size: 3rem;
		}
		h2 {
			font-size: 1.5rem;
		}
	}
	&__center {
		width: 95%;
		max-width: 1000px;
	}
	&__logo {
		position: absolute;
		left: 50%;
		width: 50px;
		opacity: 0.6;
		bottom: 40px;
		filter: drop-shadow(0 2px 10px black);
		transform: translate(-50%, 0);
	}
	.flashing {
		position: relative;
		left: -10px;
		top: -6px;
		opacity: 1;
		animation: flash 1.3s infinite;
	}
	@keyframes flash {
		from {
			opacity: 1;
		}
		40% {
			opacity: 0;
		}
		60% {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
}

#quick-nav {
	position: absolute;
	width: 100%;
	bottom: 15px;
	transform: translate(0, 100%);
	z-index: 1000;
	transition: background-color 0.2s ease-in-out;

	&__center {
		width: 95%;
		max-width: 1000px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		a {
			margin-bottom: 15px;
			background-color: white;
			box-shadow: 0 2px 10px rgba(black, 0.1);
			position: relative;
			padding: 5px 15px;
			display: flex;
			flex-direction: row;
			align-items: center;
			border-radius: 25px;
			top: 0;
			transition: all 0.1s ease-in-out;
			&:hover {
				top: -2px;
				box-shadow: 0 4px 10px rgba(black, 0.12);
			}
			svg {
				margin-right: 10px;
				max-width: 20px;
				max-height: 20px;
			}
		}
	}

	@media (max-width: 1000px) {
		a:not(:last-of-type):not(#join-acm-link):not(#quick-nav__center__logo) {
			display: none;
		}
	}
}

#quick-nav.scrolled {
	background-color: white;
	position: fixed;
	top: 0;
	bottom: auto;
	box-sizing: border-box;
	transform: none;
	left: 0;
	width: 100%;
	box-shadow: 0 2px 10px rgba(black, 0.1);
	padding: 10px;
	transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

	a {
		box-shadow: none;
		border: 2px solid lighten(black, 80%);
		transition: all 0.1s ease-in-out;
		margin: 0;
	}

	#quick-nav__center {
		justify-content: space-between;

		&__logo {
			display: table;
			border: none;
			img {
				width: 39px;
			}
		}
	}
}

a#quick-nav__center__logo {
	display: none;
}

#mission {
	padding: 100px 0;

	h2 {
		text-align: left;
	}

	&__center {
		width: 95%;
		max-width: 1000px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-left: 85px;
		@media (max-width: 1100px) {
			> div:last-of-type {
				display: none;
			}
			> div:first-of-type {
				width: 100%;
			}
		}
		> div {
			width: 48%;
		}
		img {
			width: 100%;
			max-width: 300px;
			display: table;
			margin: auto;
		}
		p {
			@include para(1.25rem, 1.5rem);
			margin: 10px 0;
		}
	}
}

#events {
	padding: 63px 0;
	background-color: #293e52;
	position: relative;
	display: flex;

	iframe {
		width: 100%;
		max-width: 800px;
	}
}

#officers {
	background: url(../images/backgrounds/officers-background.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	padding: 80px 0 280px;
	flex-direction: column;

	// Apply to become officer link
	> a {
		display: table;
		margin-top: 20px;
		margin-bottom: 70px;
		border-radius: 4px;
		box-shadow: 0 2px 10px rgba(black, 0.4);
		font-weight: bold;
		font-size: 1.1rem;
		background-color: white;
		padding: 8px 16px;
		&:hover {
			color: $globalBlue;
		}
	}

	h2 {
		width: 95%;
		max-width: 1000px;
		margin: 0 auto 20px;
	}
	&__list {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.row {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	.row-odd {
		width: 65%;
	}
	.officer {
		display: flex;
		padding: 15px 15px 0;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		flex-direction: column;
		position: relative;
		align-items: center;
		width: 270px;
		transition: all 0.1s ease-in-out;
		border: 3px solid transparent;
		border-bottom: none;
		h3 {
			color: #444;
			font-weight: 600;
			margin: 6px 0 4px;
			font-size: 1.2rem;
		}
		h4 {
			font-size: 1rem;
			margin-bottom: 10px;
			color: lighten(black, 45%);
		}
		&__hidden {
			visibility: none;
			position: absolute;
			padding: 15px;
			box-sizing: border-box;
			top: 100%;
			opacity: 0;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
			background-color: transparent;
			transition: all 0.1s ease-in-out;
			width: calc(100% + 6px);
			border: 3px solid lighten(black, 70%);
			border-top: none;
			transform: translate(0, 0);

			a {
				margin-top: 10px;
				width: 25px;
				height: 25px;
				border-radius: 4px;
				opacity: 0.7;
				overflow: hidden;
				display: table;
			}

			.officer__social {
				a {
					display: inline-block;
					margin-right: 5px;
				}
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		&__avi-container {
			box-shadow: 0 2px 15px rgba(black, 0.3);
			width: 130px;
			height: 130px;
			border-radius: 50%;
			background-color: white;
			overflow: hidden;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		@media (min-width: 1081px) {
			&:hover:not(.no-hover) {
				background-color: white;
				z-index: 20;
				border-color: lighten(black, 70%);
				.officer__hidden {
					visibility: visible;
					opacity: 1;
					background-color: white;
					transition: all 0.1s ease-in-out;
				}
			}
		}
	}
	@media (max-width: 1080px) {
		.office-dont-show {
			display: none !important;
		}
		.row {
			flex-direction: column;
			align-items: center;
			width: 100% !important;
		}
		.officer {
			box-shadow: 0 2px 6px rgba(black, 0.1);
			background-color: white;
			margin-bottom: 20px;
			width: 95%;
			padding-left: 0;
			padding-right: 0;
			border-radius: 10px;
			max-width: 500px;
			.officer__hidden {
				border: none;
				visibility: visible;
				opacity: 1;
				position: relative;
			}
		}
	}
}

// Form CSS testing
input[type='text'],
select,
input[type='email'] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

//mailchimp

#join-acm {
	width: 100%;
	height: 690px;
	background: url(../images/backgrounds/form-background.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	#mc-embedded-subscribe {
		cursor: pointer;
		background-color: $globalBlue;
		color: white;
		font-size: 1rem;
		border: 0;
		border-radius: 3px;
		margin-top: 10px;
	}

	#mc-embedded-subscribe:hover {
		transition: background-color 0.2s ease-in-out;
		background-color: #067aff;
	}

	#mc_embed_signup .button {
		line-height: 0px;
		padding: 22px;
	}

	// Signup form box (white background)
	#mc_embed_signup {
		background: #fff;
		clear: left;
		font: 14px Helvetica, Arial, sans-serif;

		display: flex;
		padding: 15px 15px 0;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		flex-direction: column;
		position: relative;
		align-items: center;
		width: 600px;
		height: 450px;
		border: 3px solid transparent;
		border-bottom: none;
	}

	.mc-field-group {
		margin-top: 15px;
		width: 100%;
		padding: 3px;
		border-radius: 4px;
		resize: vertical;
	}

	h2 {
		text-align: left;
	}
}

#social-media {
	width: 100%;
	height: 600px;
	background: url(../images/backgrounds/social-background.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	h2 {
		text-align: left;
	}
	&__center {
		width: 95%;
		max-width: 700px;
		h2 {
			color: white;
		}
		p {
			@include para(1.1rem, 1.3rem);
			color: white;
		}
	}
	.buttons {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-top: 10px;
		a {
			margin-right: 15px;
			background-color: white;
			border-radius: 3px;
			box-shadow: 0 2px 10px rgba(black, 0.2);
			padding: 10px 20px;
			display: flex;
			flex-direction: row;
			margin-bottom: 15px;
			align-items: center;
			svg,
			img {
				width: 25px;
				margin-right: 5px;
				height: auto;
			}
			img {
				border-radius: 5px;
			}
		}
	}
}

#contact {
	width: 100%;
	padding: 200px 0;
	background: url(../images/backgrounds/contact-background.svg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	h2 {
		text-align: left;
	}
	&__center {
		width: 95%;
		max-width: 700px;
	}
	p {
		@include para(1.1rem, 1.3rem);
	}
	a {
		color: #0093ff;
		border-bottom: 2px solid #0093ff;
		padding-bottom: 1px;
	}
}

.test-rule {
	/* test that css compiles correctly */
	color: red;
}

#mc_embed_signup {
	background: #fff;
	clear: left;
	font: 14px Helvetica, Arial, sans-serif;
}
