  <!-- site footer -->
  <footer id="site-footer">
    <div class="top-footer">
      <div class="container my-md-5 my-4">
        <div class="row">
          <div class="col-lg-2">
            <div class="footer-logo mb-3 mx-auto">
              <img src="assets/images/logos/acm/acm-color.svg" alt="ACM UWB logo">
            </div>
          </div>
          <!-- Quick Links -->
          <div class="col-lg-3 col-md-4 mt-lg-0 mt-5">
            <h4 class="footer-title">Quick Links</h4>
            <ul class="footer-list">
              <li><a href="index.html"> Home</a></li>
              <li><a href="pages/about.html"> About UWB ACM</a></li>
              <li><a href="pages/events.html"> Explore Events</a></li>
              <li><a href="pages/projects.html"> Projects</a></li>
              <li><a href="pages/contact.html"> Contact Us</a></li>
            </ul>
          </div>
          <!-- Newsletter -->
          <div class="col-lg-5 col-md-8 mt-lg-0 mt-5">
            <h4 class="footer-title">Get Our Newsletter!</h4>
            <p class="mb-4">Stay up-to-date with us by subscribing to the UWB ACM newsletter.
            </p>
            <form class="newsletter-form">
              <input class="input-rounded" type="text" required="" placeholder="Enter Email Address">
              <button type="submit" title="Subscribe" class="btn btn-primary btn-style" name="submit" value="Submit">
                Subscribe
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-footer">
      <div class="container">
        <div class="row">
<div class="col-xl-8 text-lg-left text-center mb-lg-0 mb-3">
            <p class="copyright">&#169<span id="demo"></span>
              <script>
                document.getElementById("demo").innerHTML = (new Date()).getFullYear();
              </script> UWB ACM. Design by <a href="https://w3layouts.com/">W3Layouts</a></p>
          </div>
          <div class="col-lg-4 align-center text-lg-right text-center">
            <a href="https://www.facebook.com/uwbacm" target="_blank" class="social-item"><span
                class="fa fa-facebook-f"></span></a>
            <a href="https://twitter.com/hacksuwb" arget="_blank" class="social-item"><span
                class="fa fa-twitter"></span></a>
            <a href="https://www.linkedin.com/organization-guest/company/uwb-acm-club" target="_blank"
              class="social-item"><span class="fa fa-linkedin"></span></a>
            <a href="https://discord.gg/YBrxBTg" target="_blank" class="social-item"><span
                class="fab fa-discord"></span></a>
            <a href="https://www.instagram.com/uwb_acm/" target="_blank" class="social-item"><span
                class="fa fa-instagram"></span></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- //site footer -->