/* Put styles that apply ONLY to the contact page here. If a style may be used across multiple pages, put it in styles.css */
:root {
    /*default */ 
  --para-color: #767575;
  --heading-color: #3f3d56;
  /*ACM colors */ 
  --ACM-blue: #0092cf;
  --ACM-DarkGrey: #484848;
}
/* -----Image-----*/
.contact-image{
    max-width: 100%;
}
.w3l-contact3 .icon span.fa{
    color: var(--ACM-blue);
}
/* -----Newsletter-----*/
  #mc_embed_signup {
    background: none;
    clear: left;
    font: 14px Poppins;
    width: 100%;
    padding-bottom: 10vh;
  }
  .email_button{
    background:#005596;
    border:none;
    color:#FFF;

  }
  .contact-form{
    padding: 1vh;

  }
  .w3l-contact3 {
    padding: 1% 0;
    padding-bottom: 3%;
  }

.linkContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.linkButton {
  background-color: #007BFF;
  color: white;
  width: 500px;
  height: 60px;
  border-radius: 15px;
  font-size: 32px;
  margin-top: 10px;
  margin-right: 10px;
}

.ghostBox {
  width: 500px;
  height: 60px;
  margin-right: 10px;
}

/* -------------------------------------------------
max-width: 480px
---------------------------------------------------*/
@media only screen and (max-width: 480px) {

    .contact-image{
        max-width: 100%;
    }

    .linkButton {
      width: 300px;
      height: 50px;
      font-size: 20px;
      margin-left: 10px;
    }

}