/* Put styles that apply ONLY to the contact page here. If a style may be used across multiple pages, put it in styles.css */
:root {
    /*default */ 
  --para-color: #767575;
  --heading-color: #3f3d56;
  /*ACM colors */ 
  --ACM-blue: #0092cf;
  --ACM-DarkGrey: #484848;
}
/* -----Image-----*/
.contact-image{
    max-width: 100%;
}
.w3l-contact3 .icon span.fa{
    color: var(--ACM-blue);
}
/* -----Newsletter-----*/
  #mc_embed_signup {
    background: none;
    clear: left;
    font: 14px Poppins;
    width: 100%;
    padding-bottom: 10vh;
  }
  .email_button{
    background:#005596;
    border:none;
    color:#FFF;

  }
  .contact-form{
    padding: 1vh;

  }
  .w3l-contact3 {
    padding: 1% 0;
    padding-bottom: 3%;
  }
/* -------------------------------------------------
max-width: 4096px
---------------------------------------------------*/
@media only screen and (max-width: 4096px) {
  header {
    padding: 1.0% 1.0%;
  }

  .navbar-expand-lg .nav_btn>li {
    padding: 0;
  }
  .navbar .navbar-brand img {
    max-width: 22%;
    height: auto;
  }
}
/* -------------------------------------------------
max-width: 3840px
---------------------------------------------------*/
@media only screen and (max-width: 3840px) {
  header {
    padding: 0.4% 0.5%;
  }

  .navbar-expand-lg .nav_btn>li {
    padding: 0;
  }
  .navbar .navbar-brand img {
    max-width: 22%;
    height: auto;
  }
}
/* -------------------------------------------------
max-width: 2160px
---------------------------------------------------*/
@media only screen and (max-width: 2160px) {
  header {
    padding: 0.5% 0.5%;
  }

  .navbar-expand-lg .nav_btn>li {
    padding: 0;
  }
  .navbar .navbar-brand img {
    max-width: 22%;
    height: auto;
  }
}
/* -------------------------------------------------
max-width: 480px
---------------------------------------------------*/
@media only screen and (max-width: 480px) {
    .contact-image{
        max-width: 100%;
    }
}