.center-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h2 {
  font-family: "Cabin", "Roboto", Arial, Helvetica, sans-serif;
  color: #444;
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
}

#top-fold {
  background: url(https://images.unsplash.com/photo-1527234639945-70d78416bd7d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=721783d6df00ea979608158fd776675e&auto=format&fit=crop&w=1500&q=70) no-repeat top center;
  background-size: cover;
  width: 100%;
  height: 500px;
  position: relative;
}

#top-fold h1,
#top-fold span {
  font-family: "Cabin", "Roboto", Arial, Helvetica, sans-serif;
  color: white;
  font-size: 4rem;
  text-align: center;
  font-weight: 600;
  text-shadow: 0 2px 40px black;
}

#top-fold h2 {
  font-family: "Cabin", "Roboto", Arial, Helvetica, sans-serif;
  color: white;
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
  opacity: 0.95;
  text-shadow: 0 2px 20px black;
}

@media (max-width: 800px) {
  #top-fold {
    height: 350px;
    background-size: 220%;
  }
  #top-fold h1,
  #top-fold span {
    font-size: 3rem;
  }
  #top-fold h2 {
    font-size: 1.5rem;
  }
}

#top-fold__center {
  width: 95%;
  max-width: 1000px;
}

#top-fold__logo {
  position: absolute;
  left: 50%;
  width: 50px;
  opacity: 0.6;
  bottom: 40px;
  -webkit-filter: drop-shadow(0 2px 10px black);
          filter: drop-shadow(0 2px 10px black);
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

#top-fold .flashing {
  position: relative;
  left: -10px;
  top: -6px;
  opacity: 1;
  -webkit-animation: flash 1.3s infinite;
          animation: flash 1.3s infinite;
}

@-webkit-keyframes flash {
  from {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes flash {
  from {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#quick-nav {
  position: absolute;
  width: 100%;
  bottom: 15px;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
  z-index: 1000;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

#quick-nav__center {
  width: 95%;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#quick-nav__center a {
  margin-bottom: 15px;
  background-color: white;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  padding: 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
  top: 0;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#quick-nav__center a:hover {
  top: -2px;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
}

#quick-nav__center a svg {
  margin-right: 10px;
  max-width: 20px;
  max-height: 20px;
}

#quick-nav.scrolled {
  background-color: white;
  position: fixed;
  top: 0;
  bottom: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: none;
          transform: none;
  left: 0;
  width: 100%;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  padding-bottom: 0;
  -webkit-transition: background-color 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

#quick-nav.scrolled a {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 2px solid #cccccc;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#mission {
  padding: 100px 0;
}

#mission h2 {
  text-align: left;
}

#mission__center {
  width: 95%;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1100px) {
  #mission__center > div:last-of-type {
    display: none;
  }
  #mission__center > div:first-of-type {
    width: 100%;
  }
}

#mission__center > div {
  width: 47%;
}

#mission__center img {
  width: 100%;
  max-width: 300px;
  display: table;
  margin: auto;
}

#mission__center p {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 10px 0;
}

#events {
  padding: 63px 0;
  background-color: #293e52;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#events__center {
  position: relative;
  z-index: 10;
}

#events__decorative-spans {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.8;
  top: 0;
  max-width: 100vw;
}

#events__decorative-spans1 {
  width: 460px;
  height: 55px;
  margin-top: 0;
  max-width: 100vw;
  background-color: white;
  opacity: 0.2;
  border-radius: 55px;
  display: table;
}

#events__decorative-spans2 {
  width: 400px;
  height: 55px;
  margin-top: 0;
  max-width: 100vw;
  background-color: white;
  opacity: 0.1;
  border-radius: 55px;
  display: table;
}

#events__decorative-spans3 {
  width: 600px;
  height: 55px;
  margin-top: -55px;
  max-width: 100vw;
  background-color: white;
  opacity: 0.1;
  border-radius: 55px;
  display: table;
}

#events__decorative-spans4 {
  width: 800px;
  height: 55px;
  margin-top: -55px;
  max-width: 100vw;
  background-color: white;
  opacity: 0.1;
  border-radius: 55px;
  display: table;
}

#events__decorative-spans5 {
  width: 320px;
  height: 55px;
  margin-top: 0;
  max-width: 100vw;
  background-color: white;
  opacity: 0.05;
  border-radius: 55px;
  display: table;
}

#events__decorative-spans6 {
  width: 540px;
  height: 55px;
  margin-top: -55px;
  max-width: 100vw;
  background-color: white;
  opacity: 0.1;
  border-radius: 55px;
  display: table;
}

#events__decorative-spans7 {
  width: 1000px;
  height: 55px;
  margin-top: 0;
  max-width: 100vw;
  background-color: white;
  opacity: 0.07;
  border-radius: 55px;
  display: table;
}

#events__decorative-spans8 {
  width: 100px;
  height: 55px;
  margin-top: 0;
  max-width: 100vw;
  background-color: white;
  opacity: 0.1;
  border-radius: 55px;
  display: table;
}

#events__decorative-spans9 {
  width: 600px;
  height: 55px;
  margin-top: -55px;
  max-width: 100vw;
  background-color: white;
  opacity: 0.15;
  border-radius: 55px;
  display: table;
}

#events__decorative-spans10 {
  width: 400px;
  height: 55px;
  margin-top: 0;
  max-width: 100vw;
  background-color: white;
  opacity: 0.04;
  border-radius: 55px;
  display: table;
}

#events__decorative-spans11 {
  width: 1000px;
  height: 55px;
  margin-top: 0;
  max-width: 100vw;
  background-color: white;
  opacity: 0.12;
  border-radius: 55px;
  display: table;
}

#events__decorative-spans12 {
  width: 220px;
  height: 55px;
  margin-top: 0;
  max-width: 100vw;
  background-color: white;
  opacity: 0.05;
  border-radius: 55px;
  display: table;
}

#events__decorative-spans13 {
  width: 700px;
  height: 55px;
  margin-top: -55px;
  max-width: 100vw;
  background-color: white;
  opacity: 0.22;
  border-radius: 55px;
  display: table;
}

#events__decorative-spans14 {
  width: 1000px;
  height: 55px;
  margin-top: -55px;
  max-width: 100vw;
  background-color: white;
  opacity: 0.15;
  border-radius: 55px;
  display: table;
}

#events__decorative-spans15 {
  width: 150px;
  height: 55px;
  margin-top: 0;
  max-width: 100vw;
  background-color: white;
  opacity: 0.3;
  border-radius: 55px;
  display: table;
}

#events__decorative-spans16 {
  width: 560px;
  height: 55px;
  margin-top: -55px;
  max-width: 100vw;
  background-color: white;
  opacity: 0.1;
  border-radius: 55px;
  display: table;
}

#events__center {
  width: 95vw;
  max-width: 1000px;
}

#events__center__list {
  margin-top: 10px;
  width: 100%;
  overflow-x: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 900px) {
  #events__center__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #events__center__list .event {
    width: 100% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 20px;
  }
}

#events h2 {
  color: white;
}

#events .event {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  border: 3px solid #0093ff;
  width: 300px;
  min-width: 300px;
  margin-right: 30px;
}

#events .event h4 {
  font-family: "Cabin", "Roboto", Arial, Helvetica, sans-serif;
  color: #444;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 600;
}

#events .event h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

#events .event h5 svg {
  margin-right: 5px;
  max-width: 20px;
  max-height: 20px;
}

#events .event p {
  margin-top: 15px;
  font-size: 1rem;
  line-height: 1.2rem;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

#officers {
  background: url(../images/backgrounds/officers-background.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  padding: 80px 0 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#officers h2 {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto 20px;
}

#officers__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#officers .row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#officers .row-odd {
  width: 65%;
}

#officers .officer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 15px 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  border: 3px solid transparent;
  border-bottom: none;
}

#officers .officer h3 {
  color: #444;
  font-weight: 600;
  margin: 6px 0 4px;
  font-size: 1.2rem;
}

#officers .officer h4 {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #737373;
}

#officers .officer__hidden {
  visibility: none;
  position: absolute;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 100%;
  opacity: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: transparent;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  width: calc(100% + 6px);
  border: 3px solid #b3b3b3;
  border-top: none;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

#officers .officer__hidden a {
  margin-top: 10px;
  width: 25px;
  height: 25px;
  border-radius: 4px;
  opacity: 0.7;
  overflow: hidden;
  display: table;
}

#officers .officer__hidden img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#officers .officer__avi-container {
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: white;
  overflow: hidden;
}

#officers .officer__avi-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 1081px) {
  #officers .officer:hover {
    background-color: white;
    z-index: 20;
    border-color: #b3b3b3;
  }
  #officers .officer:hover .officer__hidden {
    visibility: visible;
    opacity: 1;
    background-color: white;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
}

@media (max-width: 1080px) {
  #officers .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100% !important;
  }
  #officers .officer {
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin-bottom: 20px;
    width: 95%;
    padding-left: 0;
    padding-right: 0;
    border-radius: 10px;
    max-width: 500px;
  }
  #officers .officer .officer__hidden {
    border: none;
    visibility: visible;
    opacity: 1;
    position: relative;
  }
}

#join-acm {
  padding: 70px 0 100px;
}

#join-acm__center {
  width: 95%;
  max-width: 500px;
}

#join-acm h2 {
  text-align: left;
}

#join-acm #mc-embedded-subscribe {
  cursor: pointer;
  background-color: #0093ff;
  color: white;
  font-size: 1rem;
  padding: 14px 20px;
  border: 0;
  border-radius: 3px;
  margin-top: 10px;
}

#join-acm .mc-field-group {
  margin-top: 15px;
}

#social-media {
  width: 100%;
  height: 600px;
  background: url(../images/backgrounds/social-background.jpg) no-repeat center center;
  background-size: cover;
}

#social-media h2 {
  text-align: left;
}

#social-media__center {
  width: 95%;
  max-width: 700px;
}

#social-media__center h2 {
  color: white;
}

#social-media__center p {
  font-size: 1.1rem;
  line-height: 1.3rem;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: white;
}

#social-media .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 10px;
}

#social-media .buttons a {
  margin-right: 15px;
  background-color: white;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#social-media .buttons a svg,
#social-media .buttons a img {
  width: 25px;
  margin-right: 5px;
  height: auto;
}

#social-media .buttons a img {
  border-radius: 5px;
}

#contact {
  width: 100%;
  padding: 200px 0;
  background: url(../images/backgrounds/contact-background.svg) no-repeat center center;
  background-size: cover;
}

#contact h2 {
  text-align: left;
}

#contact__center {
  width: 95%;
  max-width: 700px;
}

#contact p {
  font-size: 1.1rem;
  line-height: 1.3rem;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

#contact a {
  color: #0093ff;
  border-bottom: 2px solid #0093ff;
  padding-bottom: 1px;
}
/*# sourceMappingURL=index.css.map */