#return-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: none;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

#return-top svg {
  width: 100%;
}

.header {
  width: 100;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(https://images.unsplash.com/photo-1518770660439-4636190af475?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8b209b87443cca9d7d140ec0dd49fe21&auto=format&fit=crop&w=1700&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.header h1 {
  font-size: 3.5rem;
  color: white;
  font-weight: bold;
  text-shadow: 0 2px 15px rgba(0, 0, 0, 0.8);
  font-family: 'Cabin', 'Roboto', Arial, Helvetica, sans-serif;
}

@media (max-width: 500px) {
  .header h1 {
    font-size: 2.8rem;
    text-align: center;
  }
}

.header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.header a {
  color: #444;
  background-color: rgba(255, 255, 255, 0.7);
  display: table;
  margin-top: 15px;
  border-radius: 15px;
  font-size: 0.9rem;
  padding: 7px 18px;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  top: 0;
  position: relative;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.header a:hover {
  background-color: white;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  top: -2px;
  -webkit-box-shadow: 0 4px 25px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 25px rgba(0, 0, 0, 0.2);
}

.uwb-acm-need {
  background-image: url(https://images.unsplash.com/photo-1510843572979-e4b9e790fdd7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=238526856465b28e7372a88c82ee05d5&auto=format&fit=crop&w=1700&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-bottom: 300px !important;
  display: table;
}

.uwb-acm-need * {
  color: #455a64 !important;
  font-weight: 600 !important;
}

@media (min-width: 1300px) {
  .uwb-acm-need {
    background-position-y: 80%;
  }
}

.read-section {
  width: 100%;
  height: auto;
  padding: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.read-section--gray {
  background-color: #eee;
}

.read-section hr {
  margin: 50px;
  width: 95%;
  max-width: 800px;
  height: 1px;
  display: table;
  background-color: #999999;
}

.read-section__center {
  width: 95%;
  max-width: 700px;
}

.read-section__center h3,
.read-section__center h4 {
  margin-top: 0;
  font-size: 2rem;
  font-weight: bold;
  color: #4d4d4d;
  font-family: 'Cabin', Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}

.read-section__center h4 {
  font-size: 1.5rem;
}

.read-section__center li {
  list-style: disc;
}

.read-section__center ul {
  margin: 10px 0 10px 35px;
}

.read-section__center p,
.read-section__center li {
  font-size: 1.1rem;
  line-height: 1.4rem;
  color: #444;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.read-section__center a {
  text-decoration: none;
  border-bottom: 2px solid #7e57c2;
  padding-bottom: 1px;
  color: inherit;
}

.read-section__center a:hover {
  color: #7e57c2;
}

.read-section--hack-images {
  padding: 0;
  display: table;
}

.read-section--hack-images .read-section__center {
  max-width: 1400px;
  width: 95%;
  display: -ms-grid;
  display: grid;
  margin: auto;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

@media (max-width: 800px) {
  .read-section--hack-images .read-section__center {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
}

@media (max-width: 550px) {
  .read-section--hack-images .read-section__center {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

.read-section--hack-images .read-section__center img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

.signature-event {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.signature-event__split {
  padding-bottom: 2px;
  width: 100%;
  margin-bottom: 4px;
  border-bottom: 3px solid #b7a2dd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.signature-event__split span {
  font-weight: bold;
  font-size: 1.1rem;
  color: #b7a2dd;
}

.event-sponsorship {
  background-color: #293e52;
}

.event-sponsorship p,
.event-sponsorship h3,
.event-sponsorship li {
  color: white !important;
}

.pricing-table {
  background-color: white;
  width: 900px;
  border: 2px solid #d9d9d9;
  border-collapse: collapse;
  min-width: 570px;
  border-radius: 5px;
  margin-top: 40px;
}

.pricing-table__wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  max-width: 100vw;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
}

.pricing-table tbody,
.pricing-table tr,
.pricing-table th,
.pricing-table td {
  border: 1px solid #e6e6e6;
}

.pricing-table td:not(:first-of-type) {
  text-align: center;
}

.pricing-table td:first-of-type {
  font-weight: bold;
}

.pricing-table th,
.pricing-table td {
  padding: 10px 15px;
}

.pricing-table th {
  text-align: left;
}

.pricing-table img {
  width: 20px;
}

.pricing-table__header th:first-of-type {
  padding: 10px 15px;
}

.pricing-table__header th:first-of-type h2 {
  font-size: 1.4rem;
  font-weight: bold;
  font-family: 'Cabin', 'Roboto', Arial, Helvetica, sans-serif;
}

.pricing-table__header th > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing-table__header th > div span:first-of-type {
  font-weight: 600;
  font-size: 1.1rem;
}

.pricing-table__header th > div span:last-of-type {
  margin-top: 3px;
  font-weight: 600;
  color: #78909c;
}

.pricing-table__footer {
  text-align: center;
  font-size: 0.9rem;
  background-color: #f5f5f5;
}

.pricing-table__footer td {
  color: #666666 !important;
}

.pricing-table__subtitle {
  background-color: #546e7a;
}

.pricing-table__subtitle td {
  padding: 10px 15px;
}

.pricing-table__subtitle td span {
  color: white !important;
  font-weight: 600;
}
/*# sourceMappingURL=sponsor.css.map */