#return-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: white;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	border: none;
	box-shadow: 0 2px 15px rgba(black, 0.15);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	svg {
		width: 100%;
	}
}
.header {
	width: 100;
	height: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(https://images.unsplash.com/photo-1518770660439-4636190af475?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8b209b87443cca9d7d140ec0dd49fe21&auto=format&fit=crop&w=1700&q=80);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	h1 {
		font-size: 3.5rem;
		color: white;
		font-weight: bold;
		text-shadow: 0 2px 15px rgba(black, 0.8);
		font-family: 'Cabin', 'Roboto', Arial, Helvetica, sans-serif;

		@media (max-width: 500px) {
			font-size: 2.8rem;
			text-align: center;
		}
	}
	div {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 20px;
	}
	a {
		color: #444;
		background-color: rgba(white, 0.7);
		display: table;
		margin-top: 15px;
		border-radius: 15px;
		font-size: 0.9rem;
		padding: 7px 18px;
		box-shadow: 0 2px 15px rgba(black, 0.1);
		top: 0;
		position: relative;
		transition: all 0.1s ease-in-out;
		&:hover {
			background-color: white;
			transition: all 0.1s ease-in-out;
			top: -2px;
			box-shadow: 0 4px 25px rgba(black, 0.2);
		}
	}
}

.uwb-acm-need {
	background-image: url(https://images.unsplash.com/photo-1510843572979-e4b9e790fdd7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=238526856465b28e7372a88c82ee05d5&auto=format&fit=crop&w=1700&q=80);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-bottom: 300px !important;
	display: table;

	* {
		color: #455a64 !important;
		font-weight: 600 !important;
	}

	@media (min-width: 1300px) {
		background-position-y: 80%;
	}
}

.read-section {
	width: 100%;
	height: auto;
	padding: 100px 0;
	display: flex;
	align-items: center;
	flex-direction: column;

	&--gray {
		background-color: #eee;
	}

	hr {
		margin: 50px;
		width: 95%;
		max-width: 800px;
		height: 1px;
		display: table;
		background-color: lighten(black, 60%);
	}

	&__center {
		width: 95%;
		max-width: 700px;
		h3,
		h4 {
			margin-top: 0;
			font-size: 2rem;
			font-weight: bold;
			color: lighten(black, 30%);
			font-family: 'Cabin', Arial, Helvetica, sans-serif;
			margin-bottom: 10px;
		}
		h4 {
			font-size: 1.5rem;
		}
		li {
			list-style: disc;
		}
		ul {
			margin: 10px 0 10px 35px;
		}
		p,
		li {
			font-size: 1.1rem;
			line-height: 1.4rem;
			color: #444;
			font-family: 'Roboto', Arial, Helvetica, sans-serif;
		}
		a {
			text-decoration: none;
			border-bottom: 2px solid #7e57c2;
			padding-bottom: 1px;
			color: inherit;
			&:hover {
				color: #7e57c2;
			}
		}
	}
}

.signature-event {
	box-sizing: border-box;
	width: 100%;
	&__split {
		padding-bottom: 2px;
		width: 100%;
		margin-bottom: 4px;
		border-bottom: 3px solid lighten(#7e57c2, 20%);
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		margin-top: 20px;

		span {
			font-weight: bold;
			font-size: 1.1rem;
			color: lighten(#7e57c2, 20%);
		}
	}
}

.event-sponsorship {
	background-color: #293e52;

	p,
	h3,
	li {
		color: white !important;
	}
}

.pricing-table {
	background-color: white;
	width: 900px;
	border: 2px solid lighten(black, 85%);
	border-collapse: collapse;
	min-width: 570px;
	border-radius: 5px;
	margin-top: 40px;

	&__wrapper {
		align-items: center;
		width: auto;
		max-width: 100vw;
		margin: auto;
		display: flex;
		overflow-x: auto;
	}

	tbody,
	tr,
	th,
	td {
		border: 1px solid lighten(black, 90%);
	}

	td:not(:first-of-type) {
		text-align: center;
	}

	td:first-of-type {
		font-weight: bold;
	}

	th,
	td {
		padding: 15px;
	}

	th {
		text-align: left;
	}

	&__header {
		th:first-of-type {
			padding: 20px 15px;
			h2 {
				font-size: 1.4rem;
				font-weight: bold;
				font-family: 'Cabin', 'Roboto', Arial, Helvetica, sans-serif;
			}
		}
		th > div {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			span:first-of-type {
				font-weight: 600;
				font-size: 1.1rem;
			}
			span:last-of-type {
				margin-top: 3px;
				font-weight: 600;
				color: #78909c;
			}
		}
	}

	&__footer {
		text-align: center;
		font-size: 0.9rem;
		background-color: #f5f5f5;
		td {
			color: lighten(black, 40%) !important;
		}
	}

	&__subtitle {
		background-color: #546e7a;
		td {
			padding: 10px 15px;
			span {
				color: white !important;
				font-weight: 600;
			}
		}
	}
}
